<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><img src="{{ url_for('static', filename='images/marca_pokemon.png') }}" alt="imagem da marca do pokemon"><a href="{{ url_for('index') }}"></a></li>

                <li><img src="" alt=""><a href="{{ url_for('aboutus') }}"></a></li>

                <li><img src="" alt=""><a href="{{ url_for('estampas') }}"></a></li>

                <li><img src="" alt=""><a href="{{ url_for('legends') }}"></a></li>

                <li><img src="" alt=""><a href="{{ url_for('forums') }}"></a></li>

            </ul>
        </nav>

    </header>

    <main>
        <nav>
            <ul>
                <li><img src="" alt=""><a href="{{ url_for('index') }}">Página Inicial</a></li>
                <li><img src="" alt=""><a href="{{ url_for('pokedex') }}">Pokédex</a></li>
                <li><img src="" alt=""><a href="{{ url_for('jogos') }}">Jogos de vídeogames e apps</a></li>
                <li><img src="" alt=""><a href="{{ url_for('animacao') }}">Animações</a></li>
                <li><img src="" alt=""><a href="{{ url_for('live') }}"></a></li>
                <li><img src="" alt=""><a href="{{ url_for('noticias') }}">Notícias</a></li>
            </ul>
        </nav>

        <section>
            <h1><a href="{{ url_for('escarlate') }}"><img src="" alt="">Escarlate e Violeta - Raio Preto</a></h1>
        </section>

        <section>
            <h2><a href="{{ url_for('pocket') }}"><img src="" alt="">O Pokémon Estampas Ilustradas Pocket já está disponível!</a></h2>
        </section>

        <section>
            <h2><a href="{{ url_for('arquivo') }}"><img src="" alt="">O Pokémon Estampas Ilustradas Pocket já está disponível!</a></h2>
        </section>

        <section>
            <h2><a href="{{ url_for('horizontes') }}"><img src="" alt="">O Pokémon Estampas Ilustradas Pocket já está disponível!</a></h2>
        </section>

    </main>

    <footer>
        <form action="{{ url_for('conta') }}">
            <section>
                <h2>Inscreva-se para receber os e-mails da Pokémon!</h2>
                <input type="email" placeholder="E-mail" id="email">
                <label for="email"></label><br>
                
                <input type="date" placeholder="Data de nascimento" id="nascimento">
                <label for="nascimento"></label><br>
            </section>

            <section>
                <input type="checkbox" id="jogos">
                <label for="jogos">Jogos de videogame Pokémon, aplicativos e muito mais</label><br>

                <input type="checkbox" id="termos">
                <label for="termos">Eu aceito os <a href="{{ url_for('termo') }}">Termos de Uso</a> e a <a href="{{ url_for('privacidade') }}">Aviso de Privacidade</a> do site da Pokémon</label>

            </section>

            <button type="submit">Crie sua conta</button>
        </form>


        <section>
            <h3>The Pokémon Company</h3>
            <ul>
                <li><a href="{{ url_for('guia') }}">Guia para pais ou responsáveis</a></li>
                <li><a href="{{ url_for('atendimento') }}">Atendimento ao Consumidor</a></li>
                <li><a href="{{ url_for('sobre') }}">Sobre a nossa empresa</a></li>
                <li><a href="{{ url_for('escolha') }}">Escolha um país/região</a></li>
                <li><a href="{{ url_for('imprensa') }}">Site de imprensa</a></li>
            </ul>
        </section>

        <!-- redes sociais -->
        <section>
            <ul>
                <li><a href=""></a><img src="" alt=""></li>
                <li><a href=""></a><img src="" alt=""></li>
                <li><a href=""></a><img src="" alt=""></li>
                <li><a href=""></a><img src="" alt=""></li>
            </ul>
        </section>
        
        <section>
            <ul>
                <li><a href="{{ url_for('privacidade') }}"></a><img src="" alt=""></li>
                <li><a href="{{ url_for('termo') }}">Termos de Uso</a></li>
                <li><a href="{{ url_for('privacidade') }}">Aviso de Privacidade </a></li>
                <li><a href="{{ url_for('cookies') }}">Página de Cookies</a></li>
                <li><a href="{{ url_for('informacoes') }}">Informações legais</a></li>
                <li>©2025 Pokémon. ©1995 - 2025 Nintendo/Creatures Inc./GAME FREAK inc. TM, ®Nintendo.</li>
            </ul>
        </section>

    </footer>
</body>
</html>